<div class="border-end mt-3" id="sidebar-wrapper" th:fragment="menu">
	<div class="list-group list-group-flush">
		<a class="bg-secondary text-white list-group-item list-group-item-action p-3" href="#!">Mis Mascotas</a>
		<a class="bg-secondary text-white list-group-item list-group-item-action p-3" href="#!">Mis Solicitudes
			Adopción</a>
		<a class="bg-secondary text-white list-group-item list-group-item-action p-3" href="#!">Mis Notificaciones</a>
		<a class="bg-secondary text-white list-group-item list-group-item-action p-3" href="#!">Mi cuenta</a>
	</div>
</div>